html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

#viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #ddd;
  position: relative;
  display: flex;
  flex-direction: row;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: transparent;
  z-index: 20;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  */
}


.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 30px;
}

.navIcon {
  margin-right: 60px;
  cursor: pointer;
}

.main {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

#viewport, .main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}



.canvas {
  position: absolute;
  width: 300vw;
  height: 200vh;
  background: #ddd;
  /* border: 1px solid red; */
}

.item {
  position: absolute;
  border-radius: 3px;
  cursor: pointer;
  /* border: 1px solid green; */
}

.plate {
  width: 100%;
  height: 100%;
  background-color: hsl(var(--h, 200), 70%, 60%);
}

